
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>thenoun-uploader</title>

     <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/styles.css" rel="stylesheet">
</head>

<body>
<div class="topnav" id="myTopnav">
  <a href="./" class="active">Home</a>
  <a href="https://www.mediawiki.org/wiki/Africa_Wikimedia_Developers_Project">About AWMD</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
    

      <section class="container">
            <form action="#"  class="form-horizontal" role="form" method="POST">
      <fieldset class="form-group">
      <legend>thenoun-uploader</legend>

      <div class="form-group">
    <label for="fichier"  >Fichier</label>
    <div>
    <input type="file" class="form-control" id="" >
    </div>
     </div>



    <div class="form-group">
    <label for="type"  >Type</label>
    <div>
    <input type="text" class="form-control" id="" >
    </div>
     </div>
  

        <div class="form-group ">
        <label for="id" >Id</label>
        <div>
        <input type="text" class="form-control" name="" value="">
        </div>
        </div>

        <div class="form-group">
        <label for="nomauteur" >Nom de l'auteur</label>
        <div>
        <input type="text" class="form-control" name="" value="">
        </div>
        </div>

        <div class="form-group">
        <label for="emailauteur"  >Email de l'auteur</label>
        <div>
        <input type="email" class="form-control" name="" value="">
        </div>
        </div>

        <div class="form-group">
        <label for="urlauteur">Url auteur</label>
        <div>
        <input type="url" class="form-control" name="" value="">
        </div>
        </div>

      
        <button type="submit" class="btn btn-primary">Envoyer</button>

    </fieldset>
    </form>


    <footer class="container footer">
		<hr class="featurette-divider">
		<div class="container">
			<br>
			<p align="center">AWMD,Cote d'Ivoire © 2018 - <a href="https://github.com/samuelguebo/thenoun-uploader">Source code on Github</a></p>
		</div>
	</footer>

     
    

 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>



</body>

</html>