
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>thenoun-uploader</title>

     <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="css/styles.css" rel="stylesheet">
</head>

<body>
    

      <div class="container">
      <div class="row">
       <div class="col-">

      <form action="#" method="post" class="form-horizontal" role="form">
      <fieldset class="form-group">
      <legend>thenoun-uploader</legend>


      <div class="form-group row">
    <label for="fichier" class ="col-sm-2 col-form-label">Fichier</label>
    <div class="col-sm-6">
    <input type="file" class="custom-file-input" id=""  aria-describedby="fileHelp>
    <small id="fileHelp" class="form-text text-muted">Veuillez Choisir le fichier ou les fichiers que vous souhaitez upload
     </div>
     </div>

    <div class="form-group row">
    <label for="type" class ="col-sm-2 col-form-label" >Type</label>
    <div class="col-sm-6">
    <input type="text" class="form-control" id="" >
    </div>
     </div>
  

        <div class="form-group">
        <label for="id" class ="col-sm-2 col-form-label">Id</label>
        <div class="col-sm-6">
        <input type="text" class="form-control" name="" value="">
        </div>
        </div>

        <div class="form-group">
        <label for="nomauteur" class ="col-sm-2 col-form-label" >Nom de l'auteur</label>
        <div class="col-sm-6">
        <input type="text" class="form-control" name="" value="">
        </div>
        </div>

        <div class="form-group">
        <label for="emailauteur" class ="col-sm-2 col-form-label" >Email de l'auteur</label>
        <div class="col-sm-6">
        <input type="email" class="form-control" name="" value="">
        </div>
        </div>

        <div class="form-group">
        <label for="urlauteur" class ="col-sm-2 col-form-label" >Url auteur</label>
        <div class="col-sm-6">
        <input type="url" class="form-control" name="" value="">
        </div>
        </div>

      
        <button type="submit" class="btn btn-primary">Envoyer</button>



    </fieldset>
    </form>

      </div>
      </div>
  
</div>
    

 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>



</body>

</html>